version: '2'

services:
  mysql:
    image: 'wantmys2000/mysql-tiny'
    environment:
      MYSQL_ROOT_PASSWORD: 'test'
    ports:
      - '3306:3306'

  redis:
    image: 'redis:3.2-alpine'
    command: redis-server --requirepass yourpassword
    ports:
      - '6379:6379'
    volumes:
      - 'redis:/var/lib/redis/data:z'

  website:
    depends_on:
      - 'mysql'
      - 'redis'
    build: .
    ports:
      - '3000:3000'
    volumes:
      - '.:/my_dockerized_app:z'
    env_file:
      - '.env'

  sidekiq:
    depends_on:
      - 'mysql'
      - 'redis'
    build: .
    command: sidekiq -C config/sidekiq.yml.erb
    volumes:
      - '.:/my_dockerized_app:z'
    env_file:
      - '.env'

  cable:
    depends_on:
      - 'redis'
    build: .
    command: puma -p 28080 cable/config.ru
    ports:
      - '28080:28080'
    volumes:
      - '.:/my_dockerized_app:z'
    env_file:
      - '.env'

volumes:
  redis:
