<p class="text-muted">
  &copy; <%= Time.now.year.to_s %> MyDockerizedApp - All rights reserved
</p>
<div>
  <input class="webpush-button" type="button" value="Register for Web Push Notifications"></input>
</div>
